<%- include("partials/header") %>
<main class="container-md">
  <section class="row my-4 gap-4">
    <div class="border rounded col-md-8 p-5">
      <div class="d-flex justify-content-between mb-5 border-bottom pb-3">
        <h3>Address</h3>
        <button
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#addressForm"
        >
          Add Address
        </button>
        <div
          class="modal fade"
          id="addressForm"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-from">Add Addrress</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form class="" action="/add-address" method="post">
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input
                      type="Number"
                      class="form-control"
                      id="phone"
                      name="phone"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="houseNo" class="form-label">House No</label>
                    <input
                      type="text"
                      class="form-control"
                      id="houseNo"
                      name="houseNo"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input
                      type="text"
                      class="form-control"
                      id="state"
                      name="state"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input
                      type="number"
                      class="form-control"
                      id="pincode"
                      name="pincode"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-dark w-50">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards d-flex gap-2">
        <% addresses.forEach(address => { %>
        <div class="card w-25">
          <div class="card-body">
            <h5 class="card-title"><%= address.name %></h5>
            <p class="card-text"><%= address.phone %></p>
            <p class="card-text"><%= address.houseNo %></p>
            <p class="card-text"><%= address.city %></p>
            <p class="card-text"><%= address.state %></p>
            <p class="card-text"><%= address.pincode %></p>
            <button
              onclick="selectAddress('<%= JSON.stringify(address)%>')"
              class="btn btn-dark my-2"
            >
              Select
            </button>
            <button
              data-bs-toggle="modal"
              data-bs-target="#editForm<%= address._id %>"
              class="btn btn-dark"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
            <a href="/delete-address/<%= address._id %>" class="btn btn-danger"
              ><i class="bi bi-trash-fill"></i
            ></a>
          </div>
        </div>
        <div
          class="modal fade"
          id="editForm<%= address._id %>"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-from">Edit Addrress</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form
                  class=""
                  action="/update-address/<%= address._id %>"
                  method="post"
                >
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      value="<%= address.name %>"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input
                      type="Number"
                      class="form-control"
                      id="phone"
                      name="phone"
                      value="<%= address.phone %>"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="houseNo" class="form-label">House No</label>
                    <input
                      type="text"
                      class="form-control"
                      id="houseNo"
                      name="houseNo"
                      value="<%= address.houseNo %>"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      value="<%= address.city %>"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input
                      type="text"
                      class="form-control"
                      id="state"
                      name="state"
                      value="<%= address.state %>"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input
                      type="number"
                      class="form-control"
                      id="pincode"
                      name="pincode"
                      value="<%= address.pincode %>"
                      aria-describedby="emailHelp"
                      required
                    />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-dark w-50">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <div
        class="modal fade"
        id="addressForm"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="add-from">Add Addrress</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form class="" action="/add-address" method="post">
                <div class="text-center">
                  <h2>Add Address</h2>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Phone</label>
                  <input
                    type="Number"
                    class="form-control"
                    id="phone"
                    name="phone"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="houseNo" class="form-label">House No</label>
                  <input
                    type="text"
                    class="form-control"
                    id="houseNo"
                    name="houseNo"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="city" class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    name="city"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="state" class="form-label">State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    name="state"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="pincode" class="form-label">Pincode</label>
                  <input
                    type="number"
                    class="form-control"
                    id="pincode"
                    name="pincode"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-dark w-50">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="payment col-md-3">
      <div class="border rounded d-fixed">
        <div class="border-bottom text-center p-2">
          <h4>Shipping information</h4>
        </div>
        <div class="shipping-address py-2 px-4 border-bottom">
          <!-- <p id="ship-address">Seclect Shipping Address</p> -->
          <h6 id="ship-name">Name : <%= addresses[0].name %></h6>
          <p id="ship-phone">Phone : <%= addresses[0].phone %></p>
          <p id="ship-houseNo">House No : <%= addresses[0].houseNo %></p>
          <p id="ship-city">City : <%= addresses[0].city %></p>
          <p id="ship-state">State : <%= addresses[0].State %></p>
          <p id="ship-pincode">Pincode : <%= addresses[0].pincode %></p>
        </div>
        <div class="billing">
          <div class="border-bottom text-center p-2">
            <h4>Payment Method</h4>
          </div>
          <form id="form" class="py-2 px-4 border-bottom">
            <input
              id="addressId"
              type="text"
              class="hidden"
              name="addressId"
              value="<%= addresses[0]._id %>"
            />
            <div class="form-check my-2">
              <input
                class="form-check-input border-secondary"
                type="radio"
                name="paymentMethod"
                id="flexRadioDefault1"
                value="cashOnDelivery"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Cash On delivery
              </label>
            </div>
            <!-- <div class="form-check my-2">
              <input
                class="form-check-input border-secondary"
                type="radio"
                name="paymentMethod"
                value="creditCard"
                id="flexRadioDefault2"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Credit Card
              </label>
            </div> -->
            <div class="form-check my-2">
              <input
                class="form-check-input border-secondary"
                type="radio"
                name="paymentMethod"
                value="upi"
                id="flexRadioDefault3"
              />
              <label class="form-check-label" for="flexRadioDefault2">
                UPI
              </label>
            </div>
          </form>
          <div class="button my-2 text-center">
            <button onclick="hanldeOrder()" class="btn btn-dark w-50">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function selectAddress(address) {
    let shipAddress = document.getElementById("ship-address");
    let name = document.getElementById("ship-name");
    let phone = document.getElementById("ship-phone");
    let houseNo = document.getElementById("ship-houseNo");
    let city = document.getElementById("ship-city");
    let state = document.getElementById("ship-state");
    let pincode = document.getElementById("ship-pincode");
    let addressid = document.getElementById("addressId");

    address = JSON.parse(address);

    if (address) {
      name.innerHTML = "Name : " + address.name;
      phone.innerHTML = "Phone : " + address.phone;
      houseNo.innerHTML = "Hounse No : " + address.houseNo;
      city.innerHTML = "City : " + address.city;
      state.innerHTML = "State : " + address.state;
      pincode.innerHTML = "Pincode : " + address.pincode;
      addressId.value = address._id;
    }
  }

  async function hanldeOrder() {
    let addressId = document.getElementById("addressId").value;
    let form = document.getElementById("form");
    let paymentMethod = form.paymentMethod.value;
    console.log(paymentMethod);

    if (paymentMethod === "cashOnDelivery") {
      let data = await fetch("/checkout", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          paymentMethod,
          addressId,
        }),
      });
      let res = await data.json();
      if (res.success) {
        window.location.href = "/order-complete";
      }
    } else if (paymentMethod === "upi") {
      try {
        let price = "<%= Number(totalPrice) %>";
        let data = await fetch("/create-order", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            amount: price * 100,
          }),
        });
        let json = await data.json();
        if (json.orderId) {
          let orderId = json.orderId;
          let options = {
            key: "rzp_test_kJcOHKnrrkyPtJ", // Enter the Key ID generated from the Dashboard
            amount: "<%=Number(totalPrice)*100%>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "Aech", //your business name
            description: "Test Transaction",
            image: "https://cdn.razorpay.com/logos/MkXOdj1zs2GhLl_original.png",
            order_id: orderId,
            callback_url: "/checkout",
            prefill: {
              //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
              name: "Gaurav Kumar", //your customer's name
              email: "gaurav.kumar@example.com",
              contact: "9000090000", //Provide the customer's phone number for better conversion rates
            },
            notes: {
              address: addressId,
            },
            theme: {
              color: "#455163",
            },
          };
          let rzp1 = new Razorpay(options);
          rzp1.open();
          e.preventDefault();
        }
      } catch (error) {
        console.log(error);
      }
    } else {
      Swal.fire({
        title: "Select Payment Method!!!",
        text: "You have to select a payment method",
        icon: "warning",
        confirmButtonText: "Ok",
      });
    }
  }

  // document.getElementById("form").addEventListener("change", function (event) {
  //   if (event.target.type === "radio") {
  //     // Uncheck other radio buttons in the group
  //     var radioButtons = document.querySelectorAll(
  //       'input[name="' + event.target.name + '"]'
  //     );
  //     radioButtons.forEach(function (button) {
  //       if (button !== event.target) {
  //         button.checked = false;
  //       }
  //     });
  //   }
  // });
</script>
<%- include("partials/footer") %>

<!-- action="/checkout"
method="post" -->
