<%- include("partials/header") %>

<main class="container">
  <section class="d-md-flex mt-5 gap-2">
    <div class="cart col-md-8 border rounded">
      <div class="cart-head border-bottom py-4">
        <h3>Your Cart</h3>
      </div>
      <div class="cart-item table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <% cartProducts.forEach((products,i) => { %>
            <tr class="cartItem" data-price="<%= products.product.price %>">
              <th scope="row"><%= i+1 %></th>
              <td>
                <img
                  src="uploads/<%= products.product.images[0] %>"
                  alt="<%= products.product.productName %>"
                  height="70px"
                />
              </td>
              <td><%= products.product.productName %></td>

              <!-- hidden tags -->
              <input
                type="hidden"
                class="hidden"
                value="<%= products.product.quantity %>"
                id="productQuantity<%= i %>"
              />
              <input
                type="hidden"
                class="hidden"
                value="<%= products.product._id %>"
                id="productId<%= i %>"
              />

              <td>
                <div class="btn-group" role="group">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    id="<%= i %>"
                    onclick="decrement(this.id)"
                  >
                    -
                  </button>
                  <input
                    type="number"
                    id="counterDisplay<%= i %>"
                    name="quantity"
                    value="<%= products.quantity %>"
                    style="width: 40px"
                    readonly
                  />

                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    id="<%= i %>"
                    onclick="increment('<%= i %>')"
                  >
                    +
                  </button>
                </div>
              </td>

              <td class="price">
                ₹ <%=new Intl.NumberFormat("en-IN").format(
                products.product.price* products.quantity ) %>
              </td>
              <td>
                <button
                  onclick="deleteCart('<%=products._id %>')"
                  class="btn btn-dark"
                >
                  <i class="bi bi-trash3-fill"></i>
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="price col-md-4">
      <div class="d-fixed border rounded">
        <div class="summary-head p-2 border-bottom text-center">
          <h3>Summary</h3>
        </div>

        <div class="p-2 d-flex justify-content-between">
          <p>Total Price :</p>
          <p id="totalPrice">
            ₹ <%=new Intl.NumberFormat("en-IN").format( totalPrice)%>
          </p>
        </div>
        <div class="text-center my-3">
          <% if (cartProducts.length >0) { %>

          <a href="/address" class="btn btn-dark w-50">Place Order</a>
          <% }else{ %>

          <a href="/address" class="btn btn-dark w-50 disabled">Place Order</a>
          <% } %>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  let counter = 1;

  function increment(index) {
    let productId = document.getElementById("productId" + index).value;
    let cartQuantity = document.getElementById("counterDisplay" + index).value;
    let productQuantity = document.getElementById(
      "productQuantity" + index
    ).value;
    counter = cartQuantity;
    if (Number(counter) >= Number(productQuantity)) {
      Swal.fire({
        title: "Max Quantity!!!",
        text: "You have reached the maximum quantity",
        icon: "warning",
        confirmButtonText: "Ok",
      });
    } else if (counter >= 1) {
      counter++;
      updateCounterDisplay(index);
      updateQuantity(productId, counter);
    }
  }

  function decrement(index) {
    let productId = document.getElementById("productId" + index).value;
    let cartQuantity = document.getElementById("counterDisplay" + index).value;
    counter = cartQuantity;
    if (counter > 1) {
      counter--;
      updateCounterDisplay(index);
      updateQuantity(productId, counter);
    }
  }

  function calculatePrice(products) {
    let price = document.querySelectorAll(".price");

    let grandTotal = 0;
    for (let i = 0; i < products.length; i++) {
      price[i].innerHTML = `₹ ${new Intl.NumberFormat("en-IN").format(
        products[i].product.price * products[i].quantity
      )}`;
      grandTotal += products[i].product.price * products[i].quantity;
    }

    document.getElementById(
      "totalPrice"
    ).innerHTML = `₹ ${new Intl.NumberFormat("en-IN").format(grandTotal)}`;
  }

  async function updateQuantity(product, quantity) {
    try {
      const data = await fetch("/update-cart", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          product,
          quantity,
        }),
      });
      let json = await data.json();
      if (json?.success) {
        console.log(json?.products);
        calculatePrice(json?.products);
        // let products = json?.products;
        // let totalPrice =
        // window.location.reload();
      }
    } catch (error) {
      console.log("errror in updating quantity ", error);
    }
  }

  function updateCounterDisplay(index) {
    document.getElementById("counterDisplay" + index).value = counter;
  }

  async function deleteCart(id) {
    try {
      const data = await fetch(`/delete-cart/${id}`);

      const json = await data.json();

      if (json.success) {
        Swal.fire({
          title: "Deleted!!!",
          text: "Product Deleted from cart",
          icon: "success",
          confirmButtonText: "Ok",
        }).then(() => {
          window.location.href = "/cart";
        });
      }
    } catch (error) {
      console.log(error);
    }
  }
</script>

<%- include("partials/footer") %>
