<%- include("partials/header") %>
<section class="container-md my-2 d-lg-flex">
  <nav class="navbar d-lg-none rounded px-5">
    <a href="/user/profile" class="text-decoration-none text-white">Profile</a>

    <a href="/user/address" class="text-decoration-none text-white">Address</a>

    <a href="/user/orders" class="text-decoration-none text-white">Orders</a>
  </nav>

  <aside
    class="navbar d-none sidebar col-md-2 rounded d-lg-flex flex-column py-3"
  >
    <div class="links">
      <h1 class="text-light">AECH</h1>
      <div class="d-flex flex-column">
        <a href="/user/profile" class="link-light text-decoration-none my-1">
          User Details
        </a>

        <a href="/user/address" class="link-light text-decoration-none my-1">
          Address
        </a>
        <a href="/user/orders" class="link-light text-decoration-none my-1">
          Orders
        </a>
      </div>
    </div>
    <div>
      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
  </aside>
  <div class="w-100">
  <div class="text-center mb-5">
    <h4>OrderId # <%= order._id %></h4>
  </div>
  <div class="d-flex justify-content-evenly">
    <div class="address">
      <p class="m-0">Name : <%= order.address.name %></p>
      <p class="m-0">Phone : <%= order.address.phone %></p>
      <p class="m-0">House : <%= order.address.houseNo %></p>
      <p class="m-0">City : <%= order.address.city %></p>
      <p class="m-0">State : <%= order.address.state %></p>
      <p class="m-0">Pincode : <%= order.address.pincode %></p>
    </div>
    <div class="price">
      <p class="m-0">Payment Method : <%= order.paymentMethod %></p>
      <p class="m-0">Total Price : <%= order.totalPrice %></p>
      <p class="m-0">Status : <%= order.status %></p>
      <p class="m-0">Order Date : <%= order.createdAt.toLocaleString() %></p>
    </div>
  </div>
  <div class="m-5 px-4 table-responsive content">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Order Date</th>
        </tr>
      </thead>
      <tbody>
        <% order.products.forEach(prod => { %>
        <tr>
          <td><%= prod.product.productName %></td>
          <td><img src="/uploads/<%= prod.product.images[0] %>" height="70" alt="" /></td>
          <td>₹ <%= new Intl.NumberFormat().format(prod.product.price ) %></td>
          <td><%= prod.quantity %></td>

          <td><%= order.createdAt.toLocaleString() %></td>
          <% }) %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>

<%- include("partials/footer") %>
