<%- include("partials/header") %>
<style>
  .name > div {
    width: 45%;
  }
</style>
<main class="container-md my-2 d-lg-flex">
  <nav class="navbar d-lg-none rounded px-5">
    <a href="/user/profile" class="text-decoration-none text-white">Profile</a>

    <a href="/user/address" class="text-decoration-none text-white">Address</a>

    <a href="/user/orders" class="text-decoration-none text-white">Orders</a>
  </nav>

  <aside
    class="navbar d-none sidebar col-md-2 rounded d-lg-flex flex-column py-3"
  >
    <div class="links">
      <h1 class="text-light">AECH</h1>
      <div class="d-flex flex-column">
        <a href="/user/profile" class="link-light text-decoration-none my-1">
          User Details
        </a>

        <a href="/user/address" class="link-light text-decoration-none my-1">
          Address
        </a>
        <a href="/user/orders" class="link-light text-decoration-none my-1">
          Orders
        </a>
      </div>
    </div>
    <div>
      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
  </aside>
  <section class="w-100">
    <div class="user mx-3 p-3 border">
      <div class="head d-md-flex justify-content-between border-bottom pb-3 mb-3">
        <h2 class="m-0">Profile</h2>
        <div class="mt-2">
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#editUser"
          >
            Edit user
          </button>
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#editPassword"
          >
            Change Password
          </button>
        </div>
      </div>
      <div
        class="modal fade"
        id="editUser"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                Edit User
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form id="editUserForm">
                <input
                  type="text"
                  class="hidden"
                  name="id"
                  id="id"
                  value="<%= user._id %>"
                />
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    value="<%= user.firstName %>"
                    name="firstName"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    name="lastName"
                    aria-describedby="emailHelp"
                    value="<%= user.lastName %>"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    name="email"
                    aria-describedby="emailHelp"
                    value="<%= user.email %>"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Phone</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="phone"
                    value="<%= user.phone %>"
                  />
                </div>

                <div class="text-center">
                  <button class="btn btn-dark">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="editPassword"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                Change Password
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form id="editPasswordForm">
                <input
                  type="text"
                  class="hidden"
                  name="id"
                  id="id"
                  value="<%= user._id %>"
                  required
                />
                <div class="mb-3">
                  <label for="currentPassword" class="form-label"
                    >Current Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="currentPassword"
                    name="currentPassword"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="newPassword" class="form-label"
                    >New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="text-center">
                  <button class="btn btn-dark">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="personal border-bottom my-3">
        <div class="d-flex justify-content-between my-5">
          <h4 class="">Personal Info</h4>
          <div id="referal" class="d-flex">
            <input
              type="text"
              class="form-control w-50 rounded-0 rounded-start"
              id="referalCode"
              disabled
              aria-describedby="emailHelp"
              value="<%= user.referal %>"
            />
            <button
              id="copyBtn"
              onclick="copyText()"
              class="btn rounded-0 rounded-end"
              style="background-color: #e9ecef"
            >
              <i class="bi bi-copy"></i>
            </button>
          </div>
        </div>
        <div class="name d-flex justify-content-between">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" class="fw-bolder"
              >First Name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              disabled
              aria-describedby="emailHelp"
              value="<%= user.firstName %>"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" class="fw-bolder"
              >Last Name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              disabled
              aria-describedby="emailHelp"
              value="<%= user.lastName %>"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" class="fw-bolder"
            >Phone</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            disabled
            aria-describedby="emailHelp"
            value="<%= user.phone %>"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" class="fw-bolder"
            >Email</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            disabled
            aria-describedby="emailHelp"
            value="<%= user.email %>"
          />
        </div>
      </div>
      <div class="wallet">
        <div class="head d-flex justify-content-between border-bottom py-2">
          <h4>Wallet</h4>
        </div>
        <div class="p-5">
          <h5>
            Wallet Balance : <%= new Intl.NumberFormat().format( wallet.balance)
            %>
          </h5>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
  function copyText() {
    var text = document.getElementById("referalCode");

    text.select();
    text.setSelectionRange(0, 99999);

    navigator.clipboard.writeText(text.value);

    document.getElementById("copyBtn").style.backgroundColor = "#C1F2B0";
  }

  $("#editUserForm").validate({
    rules: {
      firstName: {
        required: true,
        pattern: /^[A-Za-z]+$/,
      },
      lastName: {
        required: true,
        pattern: /^[A-Za-z]+$/,
      },
      email: {
        required: true,
        email: true,
      },
      phone: {
        required: true,
        minlength: 10,
        maxlength: 10,
      },
      password: {
        minlength: 6,
      },
      confirmPassword: {
        equalTo: "#password",
      },
    },
    submitHandler: async function (form, event) {
      try {
        event.preventDefault();
        let id = form.id.value;
        let firstName = form.firstName.value;
        let lastName = form.lastName.value;
        let email = form.email.value;
        let phone = form.phone.value;

        const data = await fetch("/user/edit-user", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            id,
            firstName,
            lastName,
            email,
            phone,
          }),
        });

        const json = await data.json();

        if (json.success) {
          Swal.fire({
            title: "Success",
            text: "User Info updated succesfully",
            icon: "success",
            confirmButtonText: "OK",
          }).then((result) => {
            window.location.href = "/user/profile";
          });
        } else {
          Swal.fire({
            title: "Failed!!",
            text: "Failed to update UserInfo",
            icon: "error",
            confirmButtonText: "OK",
          }).then((result) => {
            window.location.reload();
          });
        }
      } catch (error) {
        console.log(error);
      }
    },
  });
</script>
<script>
  $("#editPasswordForm").validate({
    rules: {
      currentPassword: {
        required: true,
      },
      newPassword: {
        minlength: 6,
        required: true,
      },
      confirmPassword: {
        equalTo: "#newPassword",
        required: true,
      },
    },
    submitHandler: async function (form, event) {
      try {
        event.preventDefault();
        let id = form.id.value;
        let currentPassword = form.currentPassword.value;
        let newPassword = form.newPassword.value;

        const data = await fetch("/user/edit-password", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            id,
            currentPassword,
            newPassword,
          }),
        });

        const json = await data.json();

        if (json.success) {
          Swal.fire({
            title: "Success",
            text: "Password updated succesfully",
            icon: "success",
            confirmButtonText: "OK",
          }).then((result) => {
            window.location.reload();
          });
        } else {
          Swal.fire({
            title: "Failed!!",
            text: "Failed to update password",
            icon: "error",
            confirmButtonText: "OK",
          }).then((result) => {
            window.location.reload();
          });
        }
      } catch (error) {
        console.log(error);
      }
    },
  });
</script>
<script>
  function confirmCancel(elem) {
    Swal.fire({
      title: "Do you want to cancel order?",
      showCancelButton: true,
      confirmButtonText: "Save",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/order-cancel/${elem.value}`;
      }
    });
  }
</script>
<%- include("partials/footer") %>
