<%- include("partials/header") %>
<main class="container-md">
  <section>
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide my-3"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <% banners.forEach(banner => { %>

        <div class="carousel-item active">
          <img
            src="uploads/<%= banner.image %>"
            class="d-block w-100 rounded img-fluid"
            alt="<%= banner.image %>"
          />
        </div>
        <% }) %>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section class="container">
    <div class="d-flex justify-content-center align-items-center">
      <% categories.forEach(category => { %>
      <a href="/shop" class="text-decoration-none">
        <div class="card">
          <img
            src="uploads/<%= category.image %>"
            alt="<%= category.name %>"
            class="img-fluid rounded"
          />
          <h5><%= category.categoryName%></h5>
        </div>
      </a>
      <% }) %>
    </div>
  </section>
</main>
<%- include("partials/footer") %>
