<%- include("partials/header") %>

<style>
  .card {
    height: 100px;
    width: 200px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .one {
    background-color: #ddefe0;
  }
  .two {
    background-color: #f4ecdd;
  }
  .three {
    background-color: #efdada;
  }
  .four {
    background-color: #dee0ef;
  }
  .chart {
    height: 400px;
    width: 600px;
  }

  @media only screen and (max-width: 990px) {
    .dashboard {
      display: flex;
      flex-direction: column-reverse;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      /* flex-direction: row; */
    }
  }
</style>

<section class="content lists col-md-10 border rounded p-2">
  <h2>Dashboard</h2>
  <div class="dashboard row">
    <div class="charts col-lg-7">
      <div class="chart">
        <canvas id="bar" class=""></canvas>
      </div>
      <div class="chart">
        <canvas id="pie" class=""></canvas>
      </div>
    </div>
    <div class="cards ms-5 col-lg-4">
      <div class="card one">
        <h6>Total Revenue</h6>
        <p class="ms-3">
          ₹ <%= new Intl.NumberFormat("en-IN").format( revenue) %>
        </p>
      </div>
      <div class="card two">
        <h6>Total Orders Placed</h6>
        <p class="ms-3"><%= orderCount %></p>
      </div>
      <% console.log(JSON.parse(payMethod)) %> <% console.log(payMethod) %>
      <div class="card three">
        <h6>Total Product</h6>
        <p class="ms-3"><%= productCount %></p>
      </div>
      <div class="card four">
        <h6>Total User</h6>
        <p class="ms-3"><%= userCount %></p>
      </div>
    </div>
  </div>
  <div></div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", async function () {
      let data = await fetch("/chart-data");
      let json = await data.json();
      console.log(json);
      console.log(json.paymentMethod);
      const label = json.paymentMethod.map((item) => item._id);
      const amount = json.paymentMethod.map((item) => item.amount);
      const count = json.paymentMethod.map((item) => item.count);
      console.log(amount, label);

      const bar = document.getElementById("bar");
      const pie = document.getElementById("pie");

      let paymentLabel = [];

      new Chart(bar, {
        type: "bar",
        data: {
          labels: [...label],
          datasets: [
            {
              label: "# of orders",
              data: [...amount],
              borderWidth: 1,
            },
          ],
        },
        options: {
          // maintainAspectRatio:false,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
      new Chart(pie, {
        type: "pie",
        data: {
          labels: [...label],
          datasets: [
            {
              label: "# of payment",
              data: [...count],
              borderWidth: 1,
            },
          ],
        },
        options: {
          // maintainAspectRatio:false,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    });
  </script>
</section>

<%- include("partials/footer") %>
