<%- include("partials/header") %>
<section class="content lists col-md-10">
  <div
    class="box border rounded p-2 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="w-50 shadow p-5">
      <h2 class="text-center my-3">Edit Category</h2>

      <form action="/edit-category" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="category" class="form-label text-secondary"
            >Category Name</label
          >
          <input
            type="text"
            class="form-control"
            id="category"
            aria-describedby="emailHelp"
            name="categoryName"
            value="<%= category.categoryName %>"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label text-secondary"
            >Category Description</label
          >
          <input
            type="text"
            class="form-control"
            id="description"
            aria-describedby="emailHelp"
            name="description"
            value="<%= category.description %>"
          />
        </div>
        <div class="mb-3 d-flex gap-3">
          <img id="image" src="uploads/<%= category.image %>" alt="" class="rounded" height="120" />
          <div>
            <label for="image" class="form-label">Category Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              aria-describedby="emailHelp"
              name="image"
              accept="image/*"
              onchange="loadFile(event)"
            />
          </div>
        </div>
        <input
          type="hidden"
          class="hidden"
          name="id"
          value="<%= category._id %>"
        />
        <div class="text-center">
          <button type="submit" class="btn btn-dark w-50">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    function loadFile(event) {
      let image = document.getElementById("image");
      image.src = URL.createObjectURL(event.target.files[0]);
    }
  </script>
</section>

<%- include("partials/footer") %>
