<%- include("partials/header") %>
<section class="content lists col-md-10">
  <div
    class="box border rounded p-2 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="w-50 shadow p-5">
      <h2 class="text-center my-3">Edit Category</h2>

      <form id="form">
        <div class="mb-3">
          <label for="category" class="form-label text-secondary"
            >Category Name</label
          >
          <input
            type="text"
            class="form-control"
            id="categoryName"
            aria-describedby="emailHelp"
            name="categoryName"
            value="<%= category.categoryName %>"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label text-secondary"
            >Category Description</label
          >
          <input
            type="text"
            class="form-control"
            id="description"
            aria-describedby="emailHelp"
            name="description"
            value="<%= category.description %>"
          />
        </div>
        <div class="mb-3 d-flex gap-3">
          <div>
            <label for="image" class="form-label">Category Image</label>
            <input
              type="file"
              class="form-control"
              id="input-img"
              aria-describedby="emailHelp"
              name="image"
              accept="image/*"
              onchange="loadFile(event)"
            />
          </div>
        </div>
        <input
          type="hidden"
          class="hidden"
          id="_id"
          name="id"
          value="<%= category._id %>"
        />
        <div class="">
          <img
            id="image"
            src="/uploads/<%= category.image %>"
            alt=""
            class="rounded img-fluid mb-3"
          />
        </div>
        <div
          id="img-container"
          class="my-3 row align-items-center"
          style="height: 350px; display: none"
        >
          <img src="" class="img-fluid" id="croppedImg" alt="" />
        </div>
        <div class="text-center">
          <button
            type="button"
            id="cropButton"
            style="display: none"
            class="btn btn-dark w-50"
          >
            Submit
          </button>
          <button
            type="button"
            id="submitButton"
            onclick="submitForm()"
            class="btn btn-dark w-50"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <script>
    $("#form").validate({
      rules: {
        categoryName: {
          required: true,
          pattern: /^[a-zA-Z ]+$/,
        },
        description: {
          required: true,
          pattern: /^[a-zA-Z ]+$/,
        },
      },
    });
  </script>
  <script>
    function submitForm(file) {
      let categoryName = document.getElementById("categoryName").value;
      let description = document.getElementById("description").value;
      let id = document.getElementById("_id").value;
      const formData = new FormData();
       
      if (file) {
        formData.append("image", file);
      }

      formData.append("id", id);
      formData.append("categoryName", categoryName);
      formData.append("description", description);

      fetch("/edit-category", {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {

          if (data.success) {
            Swal.fire({
              title: "Edited!!",
              text: "Banner Edited succesfully",
              icon: "success",
              confirmButtonText: "OK",
            }).then((result) => {
              window.location.href = "/category-list";
            });
          } else if (data.categoryExist) {
            Swal.fire({
              title: "Already Exist!!",
              text: "Category Already Exist!!!!",
              icon: "warning",
              confirmButtonText: "OK",
            });
          } else {
            Swal.fire({
              title: "Failed!!",
              text: "Failed to edit category",
              icon: "error",
              confirmButtonText: "OK",
            }).then((result) => {
              window.location.href = "/category-list";
            });
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }

    function loadFile(event) {
      let image = document.getElementById("image");
      let croppedImg = document.getElementById("croppedImg");
      let inputImg = document.getElementById("input-img");
      image.src = "";
      croppedImg.src = "";

      image.src = URL.createObjectURL(event.target.files[0]);

      let cropper = new Cropper(image, {
        aspectRatio: 4 / 3,
        autoCrop: false,
      });

      document.getElementById("submitButton").style.display = "none";
      let cropButton = document.getElementById("cropButton");

      cropButton.style.display = "block";
      cropButton.addEventListener(
        "click",
        function () {
          document.getElementById("img-container").style.display = "block";
          // Get the cropped canvas data
          const canvas = cropper.getCroppedCanvas();
          // Set the source of the cropped image
          croppedImg.src = canvas.toDataURL("image/png");

          canvas.toBlob(function (blob) {
            const file = new File([blob], "croppedImg.png", {
              type: "image/png",
            });

            submitForm(file);
          });

          cropper.destroy();
          // Optionally, you can also remove the original image
          image.style.display = "none";
        },
        "image/png"
      );
    }
  </script>
</section>

<%- include("partials/footer") %>
